body{
    color: rgb(85, 85, 85);
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background: url("herobackground.svg") no-repeat;
    background-size: cover;
}

.copy-wrapper {
    position: absolute;
    top: 298px;
    left: 118px;
}

.header {
    color: #9F477C;
    width: 474px;
    height: 137px;
    line-height: 47px;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
}

.subtitle {
    width: 474px;
    line-height: 25px;
    color: #0D0D0D;
    font-size: 18px;

}

.wireframe-browser {
    position: absolute;
    right: 120px;
    top: 159px;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.browser {
    animation: fadeInUp 1s;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.list1 {
    position: absolute;
    bottom: 202px;
    left: 199px;
    animation: fadeInUp 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}
.list2 {
    position: absolute;
    bottom: 130px;
    left: 199px;
    animation: fadeInUp 1s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}
.list3 {
    position: absolute;
    bottom: 58px;
    left: 199px;
    animation: fadeInUp 1s;
    animation-fill-mode: backwards;
    animation-delay: 1.5s;
}