.header{
    max-width: 848px;
    margin: auto;
    padding: 1em 0;
}
.title{
    padding: 1em 0 0 0;
}
.excerpt{
    max-width: 620px;
    margin: auto;
}
.mainCopy{
    max-width: 848px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px 40px;
}
.mainCopy img{
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
}
.imageWrapper{
    max-width: 900px;
    margin: auto;
}