.jobListWrapper {
    display: flex;
    max-width: 950px;
    width: 100%;
    background: #fffbfb;
    border-radius: 10px;
    margin: 1.5em auto;
    justify-content: space-between;
    min-width: 230px;
    box-sizing: border-box;
    padding: 0.5em 0;
    box-shadow: 0 2px 6px -6px #777;
    
}
.featured {
    background-color: #f7d68882;
}
.featuredTitle{
    font-style: italic;
}
.notFeatured{
    display: none;
}
.role {
    padding: 0.5em 0;
    font-weight: 700;
}
.jobDetails{
    width: 40%;
    list-style: none;
    text-align: left;
}
.location{
    width: 20%;
    align-self: center;
    text-align: right;
}
.remote{
    width: 20%;
    align-self: center;
    text-align: left;
    padding-left: 0.3em;
    box-sizing: border-box;
}
.remote img {
    width: 20px;
    height: 20px;
}
.apply{
    width: 20%;
    align-self: center;
    max-width: 100px;
    margin: 0 1em;
    background-color: #E8A4A4;
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
}

.hideRemote {
    display: none;
}


@media screen and (max-width: 700px) {
    .jobListWrapper{
        font-size: 12px;
    }
    .remote {
        display: none;
    }
    .location{
        margin: 0 1em;
    }
}
