.jobListWrapper {
    display: flex;
    max-width: 950px;
    width: 100%;
    background: rgba(146, 142, 142, 0.26);
    border-radius: 10px;
    margin: 1.5em auto;

}
.role {
    padding: 0.5em 0;
    font-weight: 700;
}
.jobDetails{
    width: 40%;
    list-style: none;
    text-align: left;
}
.location{
    width: 20%;
    align-self: center;
    text-align: right;
}
.remote{
    width: 20%;
    align-self: center;
    text-align: left;
    padding-left: 0.3em;
}
.apply{
    width: 20%;
    align-self: center;
    max-width: 100px;
    margin: 0 auto;
    background-color: #E8A4A4;
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}