.contentWrapper{
    padding: 3rem 0;
    max-width: 700px;
    margin: auto;
}

.topCopy{
    text-align: left;
    margin: auto;
}
.topCopy li{
    list-style: disc;

}

.typeform {
    margin: auto;
    height: 600px;
    padding: 2em 0;
}
