.bodyWrapper{
    display: flex;
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 1300px;
    box-sizing: border-box;
}
.leftPanel {
    display: block;
    max-width: 260px;
    width: 30%;
    text-align: left;
    list-style: none;
}
.hitsWrapper {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}
.filterHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}
