.button {
    padding: 1em;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: #E8A4A4;
    font-size: 14px;
    position: fixed;
    right: 25px;
    bottom: 35px;
    cursor: pointer;
}

@media screen and (max-width: 1375px) {
    .button {
        position: relative;
        right: 0;
        bottom: 0;
    }
}